h6{
    text-align: end;
}

h1{
    text-align: center;
    color:rgb(242, 238, 238);
    background: local;
    background-color: rgb(227, 5, 5);
    border: 1pt;
    border-style: solid;
    border-color: aqua;
}
.colorunder{
    color: green;
    text-decoration: underline;
    font-family: Georgia;
}
#emails{
    text-align: center;
    font-style: italic;
}

h4{
    text-align: center;
    font-style: italic;
    font-weight: bolder;
}
#social{
    font-weight: bold;
}
#second{
    color : #ed0505;
    text-align: left;
    background-color: white;
    text-decoration: dotted;
}
#mailid{
    text-align: left;
}