h6{
    text-align: end;
}

h1{
    text-align: center;
    color:green;
    background: local;
    background-color: chocolate;
    border: 1pt;
    border-style: solid;
    border-color: aqua;
}
.colorunder{
    color: green;
    text-decoration: underline;
    font-family: Georgia;
}
#emails{
    text-align: center;
    font-style: italic;
}

h4{
    text-align: center;
    font-style: italic;
    font-weight: bolder;
}
#social{
    font-weight: bold;
}
