h1 {

    
    padding : 20px;
    background-color: #3e0203;
    
}
p{
    font-family: Arial;
    font-size: 16px;
}
#special {
    text-align: center;
    font-size: 20px;
    font-family: 'Courier New';

    }

.samecolor{
    color: green;


}



